@font-face {
  font-family: 'pixeBoy';
  src: url(../assets/fonts/pixeBoy.woff2);
}

@font-face {
  font-family: 'Gosha Sans Regular';
  src: url(../assets/fonts/GoshaSansRegular.otf);
}

@keyframes heading {
  from {
    transform: translateX(21px) scaleY(0.88) rotateY(-13deg) scale(1.3);
  }
}

@keyframes levelUp {
  from {
    transform: scale(1.03);
  }
}

@keyframes incorrect {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg) scale(1.03);
  }
  50% {
    transform: rotate(3deg) scale(1.03); 
  }
  to {
    transform: rotate(0) scale(1);
  }
}

@keyframes streakOneUp {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg) scale(2.3);
  }
  50% {
    transform: rotate(3deg) scale(2.3); 
  }
  to {
    transform: rotate(0) scale(1);
  }
}

@keyframes streakFiveMultiplier {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-360deg) scale(2.5);
  }
  50% {
    transform: rotate(360deg) scale(2.5); 
  }
  to {
    transform: rotate(0) scale(1);
  }
  
}

h1,
h2 {
  margin: 0;
}

::selection {
  color: yellow;
  background-color: black;
}

:root {
  --h1-fontsize: clamp(3.5rem, 7vw, 7rem);
  --h2-fontsize: clamp(2.5rem, 5vw, 5rem);
  --p-fontsize: clamp(1.5rem, 3vw, 3rem);

  --bg-opacity: 0;

  --pikaSwap: url('../assets/img/pikachu/pikaStreakStart.gif') center / contain no-repeat;
  --streak-scale: scale(0.25);

  --radio-box-shadow: inset 0 0 13px yellow, 0 0 3px 5px yellow;

  --rain: url('../assets/img/themes/rain/rainThreeLess.gif') center / cover no-repeat;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow:hidden;
}

body {
  position: relative;
  
  font-family: 'Gosha Sans Regular';
  margin: 0;
  overflow: hidden;
  min-height: 100vh;

  display: grid;
  place-items: center;
  padding-top: 13vh;
}

body::after {
  position: absolute;
  inset: 0;

  content: '';
  
  background-color: black;
  opacity: var(--bg-opacity);
  pointer-events: none;

  z-index: -1;
}

#lavenderBG {
  position: fixed;
  inset: 0;

  background: url('../assets/img/themes/backgrounds/bg_lavenderSky.webp') center / auto repeat;
  /* photoBy href"https://flickerfae.tumblr.com/post/93460308187/subtly-animated-pixel-night-sky-background-i-did" */

  z-index: -1;
}

#portfolio-link {
  position: fixed;
  top: 38px;
  left: 38px;

  z-index: 1;
}

#cycloneStudios {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  width: clamp(77px, 15vw, 222px);
}

#card {
  position: relative;
  
  font-size: 1rem;
  
  background: linear-gradient(to top, #8733c7, #B485D8,  #d7aef3);

  box-shadow: inset 0 0 5em black, 0 0 0em 0.8em black;
  border-radius: 133px;
  border: 1px ridge #ffd73f;
  border-bottom-left-radius: 33px;
  border-top-right-radius: 33px;
  color: white; 
  filter: drop-shadow(0 0 11px yellow);
  padding: 2em;

  width: clamp(233px, 50vw, 500px);

  z-index: 1;
}

#card.incorrect {
  animation: incorrect 333ms ease-in-out forwards alternate;
  -webkit-animation: incorrect 333ms ease-in-out forwards alternate;
}

#card #pikaBubble-container {
  position: absolute;
  bottom: 365px;
  left: 255px;

  background: url('../assets/img/misc/speechBubble.gif') center / contain no-repeat;
  filter: drop-shadow(0 0 11px yellow);

  height: 179px;
  width: 200px;

  transform: scale(1.2);
}

#card .response {
  position: absolute;
  bottom: 77px;
  left: 50%;
  transform: translateX(-50%);
  
  color: black;
  font-family: 'pixeBoy', 'Courier New', Courier, monospace;
  font-size: 1.313rem;
  letter-spacing: 0.5px;
  margin: 0;
  opacity: 1;
  text-align: center;

  width: 138px;
}

#card #gameBegun.response {
  display: none;
  
  font-size: 1.125rem;
  transform: translateX(-50%) translateY(-1px);  
  line-height: 0.88;
}

.response #yayOrNay,
.response #pikaNumber-container {
  display: inline-block;

  color: chartreuse;
  font-size: 1.688rem;
  text-shadow: 1px 1px 3px black;
}

.response #pikaNumber-container {
  background: rgb(88, 88, 88);
  box-shadow: inset 0 0 11px black, 0 0 3px 3.8px;
  border-radius: 13px;
  margin-top: 5px;
  padding: 1px 8px;
  text-shadow: 0 3.3px 3px black;
  width: 43px;
}

#card #streak-container {
  position: absolute;

  top: 111px;
  right: 133px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0;
  transform: scale(0);
  width: max-content;

  transition: all 111ms ease-in-out;
}

#card #streak-container.oneUp {
  opacity: 1;
  transform: scale(1);
}

#streakFull {
  position: relative;

  display: inline-block;

  height: max-content;
  width: max-content;

  color: whitesmoke;
  font-family: 'pixeBoy', 'Courier New', Courier, monospace;
  font-size: clamp(2.4rem, 5.5vw, 3.125rem);
  filter: drop-shadow(-8px 0 5px black);  
  line-height: 0.7;
  text-shadow: -5px 3px 8px black;
}

#card #streakFull::before {  
  content: '';

  position: absolute;
  top: -125px;
  right: 50px;

  height: 285px;
  width: 400px;
  
  background: var(--pikaSwap);
  transform: var(--streak-scale);
  z-index: -1;
}

#card #streak {
  display: inline-block;

  color: #e55fe5;
  font-size: clamp(3rem , 8vw ,4.4rem);
  text-shadow: 3.3px 3.3px black;

  margin-left: 11px;
}

#card #pikachuUsed {
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  text-shadow: 0 0 3px white;

  width: max-content;
}

#card #card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;

  height: 100%;
}

#card #header-container {
  position: relative;
}

#card #header-container #header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  filter: drop-shadow(0 0 5px black);
  margin-bottom: 18px;
  text-shadow: 0 0 8px black;
}

#card #header-container #header-text h1 {
  color: #ffd73f;
  font-size: clamp(1.75rem, 5vw, 3rem);
  margin-bottom: 5px;
  text-align: center;
  text-shadow: 0 0 12px black;

  animation: heading 5s ease-in infinite alternate;
  -webkit-animation: heading 5s ease-in infinite alternate;
}

#card #header-container #header-text p {
  color: white;
  font-size: clamp(1rem, 1.8vw, 1.125rem);
  margin: 0;
  text-shadow: 0 0 8px white;

  width: min(67%, 222px);

  animation: heading 5s ease-in infinite alternate-reverse;
  -webkit-animation: heading 5s ease-in infinite alternate-reverse;
}

#card #header-container #pikachu-container {
  position: absolute;
  bottom: 33px;
  left: 80%;
  
  filter: drop-shadow(-8px 8px 11px black);
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  width: clamp(155px, 22vw, 288px);

  transform: rotate(23deg);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

#card #form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;  
}

#card #radio-container {
  display: flex;
  justify-content: space-evenly;
  
  margin-bottom: 18px;

  width: 100%;
}

#card #radio-container .fullNumberOption {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  font-size: 2rem;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  height: 55px;
  width: 55px;

  isolation: isolate;
}

#card #radio-container .fullNumberOption::before {
  position: absolute;
  right: 0;
  
  content: '';

  background-color: white;
  border-radius: 50%;
  box-shadow: inset 0 0 8px black;

  height: 55px;
  width: 55px;

  z-index: -1;
}

#card #radio-container .fullNumberOption::after {
  position: absolute;
  right: 2px;

  content: '';

  border: 7px dashed #ffd73f;
  border-radius: 50%;
  line-height: 0;

  height: 50px;
  width: 50px;
}

#card #radio-container .numberOption {
  position: absolute;
  right: 0;

  border: 5px ridge black;
  border-radius: 50%;
  box-shadow: inset 0 0 13px yellow;
  font-family: 'Gosha Sans Regular', 'Courier New', Courier, monospace;
  vertical-align: -6px;

  height: 58px;
  width: 58px;

  transform: translateX(5px);

  z-index: 1;
}

#card #radio-container .numberOption:checked {
  box-shadow: var(--radio-box-shadow);
}

#card #radio-container .numberOption::before {
  position: absolute; 
  bottom: 30px;
  right: 30px;

  content: '';

  background: url('../assets/img/misc/bolt.gif') center / contain no-repeat;
  opacity: 0;

  height: 55px;
  width: 55px;

  transform: scale(0) rotate(18deg);
  transition: opacity 88ms ease-in-out, transform 133ms ease-in-out;
}

#card #radio-container .numberOption:checked::before {
  opacity: 1;
  
  transform: scale(1) rotate(18deg);
} 

#card #radio-container .numberOption:focus,
#card #radio-container .numberOption:focus-visible {
  box-shadow: var(--radio-box-shadow);
  outline: none;
}

#card #enterBtn {
  background-color: red;
  border: 5px ridge black;
  border-radius: 33px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: inset 0 0 21px black;
  color: white;
  font-family: 'Gosha Sans Regular', 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  padding: 8px 33px;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition: transform 55ms ease-in;
}

#card #enterBtn:hover {
  transform: scale(1.02) rotateX(13deg);
} 

#card #enterBtn:active {
  transform: scale(0.98) rotateY(13deg);
}

#pikaMoveset-container {
  position: fixed;
  inset: 0;

  opacity: 0;

  z-index: 0;
}

/* transition lasts 0.77s via JS */
#pikaMoveset-container.aCriticalHit {
  opacity: 1;
}

#pikaMoveset-container.itsSuperEffective {
  opacity: 1;
}

#pikaMoveset-container.itsSuperEffective > #pikaMoveset {
  filter: hue-rotate(270deg) drop-shadow(0 0 11px black);
}

#pikaMoveset-container #pikaMoveset {
  height: 100%;
  width: 100%;
  
  filter: hue-rotate(40deg) drop-shadow(0 0 11px black);
  pointer-events: none;
}

#rain {
  position: fixed;
  inset: 0;

  min-height: 100vh;
  width: 100vw;

  background: var(--rain);
  opacity: 0;
  transition:  opacity ease-in-out 55ms;
  
  z-index: -1;
}

#rain.ing { 
  opacity: 0.58;

  z-index: -1;
}

#streakBackgrounds {
  position: fixed;
  inset: 0;

  z-index: -1; 
}

.themeContainer > * {
  position: absolute;
  inset: 0;

  height: 100%;
  width: 100%;
}

#purpleRain-theme, 
#cityScape-theme {
  opacity: 0;
}

#purpleRain-theme.activated,
#cityScape-theme.activated {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  #card #header-container #pikachu-container {
    position: absolute;
    bottom: 100px;
    left: 90%;

    filter: drop-shadow(-8px 8px 11px black);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    height: auto;
    width: clamp(155px, 22vw, 288px);

    transform: translateX(-50%);
  } 

  #card #pikaBubble-container {
    bottom: 418px;
    left: 14%;

    opacity: 0.85;
    
    transform: translateX(50%) scale(1.1);
  }

  #card #streak-container {
    top: 191px;
    right: 165px;
  }

  #card #streak-container #pikachuUsed {
    position: absolute;

    top: 388px;
    right: -111px;
  }

  #card #streakFull::before {  
    top: -177px;
    right: -83px;
  }
}

@media only screen and (max-width: 600px) {
  #card {
    padding: 1.11em;
  }

  #card #pikaBubble-container {
    bottom: 373px;
    left: -18%;
    
    transform: translateX(50%) scale(1.1);
  }

  #card #streak-container {
    top: 177px;
    right: 133px;
  }

  #card #streak-container #pikachuUsed {
    top: 355px;
    right: -111px;

    font-size: 1rem;
  }

  #card #streakFull::before {  
    top: -188px;
    right: -111px;
  }
}